{% extends 'base.html' %}

{% block content %}

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1 class="display-5">Garden Workbench</h1>
        <p class="lead">
            Keep track of how your garden is doing.  Follow the progress of your plants, manage you garden
            projects, and learn from your successes and failures.
        </p>
    </div>

    <!-- Row/Cards -->
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Garden Journal</h5>
                    <p class="card-text">Keep track of how your garden is doing.  Track your plants progress.</p>
                    <a class="btn btn-success btn-lg" href="journal" role="button"><i class="fa fa-book" aria-hidden="true"></i> Garden Journal</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Garden Inventory</h5>
                    <p class="card-text">
                        Keep track of what you've planted as well as all your garden projects.  By placing
                        items in the inventory you can link your plants and projects with your journal entries
                    </p>
                    <a class="btn btn-success btn-lg" href="inventory" role="button"><i class="fa fa-list-ul" aria-hidden="true"></i> Garden Inventory</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
