{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if action == 'new' %}
        <h2>New Plant</h2>
    {% else %}
        <h2>Edit Plant</h2>
    {% endif %}
    <form method="POST" class="plant-form">{% csrf_token %}
        {{ form|crispy }}
        {% if action == 'new' %}
            <button type="submit" class="save btn btn-primary">Save</button>
            <a href="/plants" class="cancel btn btn-secondary" role="button">Cancel</a>
        {% else %}
            <button type="submit" class="save btn btn-primary">Update</button>
            <a href="{{ request.path|slice:":-6" }}" class="cancel btn btn-secondary" role="button">Cancel</a>
        {% endif %}
    </form>
{% endblock %}